body {
 background-color: #cdd4ff;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .container, .item,form,img,input {
    width: 100%; 
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  
}



form {
  flex: 1;
}

.item {
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  width: 350px;
  height: 350px;
  border: none;
  border-radius: 180px;
  
}
input{
  margin: 20px;
}
